*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/.project
/.rvmrc
/vendor
/log/*
/tmp/*
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/routes.txt
/coverage
chromedriver.log
*.espressostorage
.DS_Store
dump.rdb
.rvmrc
.elasticbeanstalk/
/config/initializers/mysqlpls.rb
public/sitemap.xml.gz
/.ruby-version
/.ruby-gemset
VERSION
